# Azure Functions
azure-functions

# Azure SDK
azure-storage-blob
azure-ai-documentintelligence
azure-core

# Authentication
msal
python-dotenv

# Data processing
pandas
openpyxl
numpy

# Web
requests
beautifulsoup4

# AI/ML
openai
tiktoken
sentence-transformers
faiss-cpu

# Others
extract-msg
PyMuPDF

# LangChain
langchain==0.1.20
langchain-openai==0.1.9
langchain-core==0.2.43
langchain-community==0.0.38
